bin/
!/HawkEye/bin/
/HawkEye/bin/*
!/HawkEye/bin/Debug/
/HawkEye/bin/Debug/*
!/HawkEye/bin/Debug/HawkEye.exe
!/HawkEye/bin/Debug/HawkEye.exe.config
!/HawkEye/bin/Debug/Newtonsoft.Json.dll
obj/
*.user
*.suo
*.log
*.vspscc
*.vssscc
.vscode/
.vs/
*.dbmdl
*.pdb
*.cache
*.ilk
*.ncb
*.sdf
*.opensdf
*.tlog
*.log
*.tmp
*.userosscache
*.userprefs
*.rsuser
*.sln.docstates
